.split1 {
    height: 100%;
    width: 60%;
    position: fixed;
    z-index: 1;
    /* display: flex; */
    overflow-x: hidden;
    padding-top: 20px;
}

.left {
    left: 2rem;
    flex: 50%;
}

.split2 {
    height: 100%;
    width: 35%;
    position: fixed;
    z-index: 1;
    
    overflow-x: hidden;
    padding-top: 20px;
}
.right{
    right: 2rem;
}
  
.memePreview-heading{
    display: flex;
    justify-content: center;
}